body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;

}
@keyframes fadeIn {
    from {opacity: 0; }
    to { opacity: 1; }
}

h1 {
    text-align: center;
    color: #4a00e0;
    font-size: 36px;
    margin-bottom: 30px;
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 12px 25px;
    background-color: #ff4b2b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff416c;
}

h2 {
    color: #0056b3;
    font-size: 24px;
    margin-top: 20px;
}
